<img src="./rptango_logo1.png" width="240" height="240" align="left"/>

# DB Conn Template

***
Templates for connecting to DB's.
***

In [ ]:
import sqlite3
import pandas as pd

## 1. Conn

Varía dependiendo de la BD a la que te vayas a conectar:

sqlite: es neceario el módulo sqlite3 <br>
PostgreSQL: necesitas el módulo psycopg2 <br>
MySQL: hay varias alternativas, como pymysql o mysqlclient <br>

In [ ]:
conn = sqlite3.connect('11_bd_temporal.sqlite')

## Leyendo Dataframe y creando nueva tabla en DB

In [ ]:
df = pd.read_csv('/dataset/inputfile.csv')
print(df())
df.to_sql('InputDF_table', conn)

### Query
Se introduce Query en SQL (debo hacer una def para esto)

In [ ]:
query = '''
select * from InputDF_table
where columna = 'WTF'
'''
pd.read_sql(query, conn)

### Crear Tabla
Se introduce Query en SQL (debo hacer una def para esto)

In [ ]:
c = conn.cursor()
c.execute('''create table InputDF_table2
             (zona text, year integer, quarter integer, price real)''')

## Apendar DF a Tabla Existente

In [ ]:
df.to_sql('InputDF_table2', conn, index=False, if_exists='append')

In [ ]:
pd.read_sql('select * from InputDF_table2 limit 5', conn)

## 5. No olvides cerrar conn

In [ ]:
conn.close()